body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #ded5d5;
  margin: 0;
  background-image: url(https://images.unsplash.com/photo-1434056886845-dac89ffe9b56?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
}

.container {
  text-align: center;
  background:rgb(255, 253, 253);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.timer-setup input {
  width: 60px;
  margin: 5px;

}

#countdown {
  font-size: 48px;
  margin: 20px 0;
}

.controls button {
  margin: 5px;
}
